[submodule "submodules/config_reader"]
	path = submodules/config_reader
	url = https://github.com/ut-amrl/config-reader.git
[submodule "submodules/shared"]
	path = submodules/shared
	url = https://github.com/ut-amrl/amrl_shared_lib.git
[submodule "maps"]
	path = maps
	url = https://github.com/ut-amrl/amrl_maps.git
