<launch>
    <arg name="outfile" default="/dev/null" />
    <arg name="policy" default="mpdm_synth" />
    <arg name="ast_path" default="/home/jaholtz/code/cpp-pips/experiments/nice/dipsl3/" />

    <!-- <node pkg="ut_multirobot_sim" type="doorman" name="doorman" /> -->
    <node pkg="ut_multirobot_sim" type="simulator_link" name="simulator" cwd="node"
        args="-sim_config scenarios/{{ scenario_name }}/sim_config.lua --localize" />

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ut_multirobot_sim)/visualization.rviz" /> -->

    <node pkg="graph_navigation" type="navigation" name="graph_navigation"
        args="-map $(find ut_multirobot_sim)/maps/SimHallway/SimHallway.navigation.txt" />

    <node pkg="cpp-pips" type="$(arg policy)" name="$(arg policy)" args="-x {{ goal_x }} -y {{ goal_y }} -theta {{ goal_angle }} -ast_path $(arg ast_path)" />

    <node pkg="ut_multirobot_sim" type="recorder.py" name="recorder" output="screen" args="$(arg outfile)" />

    <include file="$(find ut_multirobot_sim)/scenarios/{{ scenario_name }}/pedsim_launch.launch" />
    <node pkg="pedestrian_simulation" type="pedsim_utmrs_proxy.py" name="pedsim_utmrs_proxy" args="{{ human_count }}" output="screen" />

    <param name="enable_statistics" value="true" />
</launch>
