<launch>
    <node pkg="ut_multirobot_sim" type="simulator_link" name="simulator" cwd="node"
        args="-sim_config config/social_navigation/hallway/sim_config.lua" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ut_multirobot_sim)/visualization.rviz" />
    <node pkg="ut_multirobot_sim" type="hallway_controller" name="hallway_controller" />
</launch>