<launch>
    <!-- <node pkg="ut_multirobot_sim" type="doorman" name="doorman" /> -->
    <node pkg="ut_multirobot_sim" type="simulator_link" name="simulator" cwd="node"
        args="-sim_config config/social_navigation/package_delivery/sim_config.lua" />
    <node pkg="ut_multirobot_sim" type="package_delivery_controller" name="package_delivery_controller" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ut_multirobot_sim)/visualization.rviz" />
</launch>